body {
    margin: 0;
    background-color: var(--bg);

    /* disable text selection highlighting */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

:root {
    --button: #DC5F00;
    --button-active: #FF7710;
    --bg: #686D76;
    --bgContrast: #373A40;

    --thirdColor: #EEEEEE;
}

p,
ul,
li,
button,
html {
    /* FONTS */
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;

}

/* ------------- */
/* -- BUTTONS -- */
/* ------------- */
button {
    background-color: var(--button);
    border: 5px solid var(--bgContrast);
    background-clip: padding-box;
    color: var(--bgContrast);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 25px 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: var(--button-active);
    border: 5px solid var(--bgContrast);
    color: var(--bg);
}

button:active {
    background-color: var(--button-active);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----------- */
/* -- START -- */
/* ----------- */
.start {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.start>button {
    width: 250px;
    font-size: 35px;
    padding: 15px;
}

/* ---------- */
/* -- PLAY -- */
/* ---------- */

.play {
    /* START WITHOUT IT */
    display: none;
    /* display: flex; */
    /* GETS SPREAD EVENLY */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* GETS CENTERED IN SCREEN */
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
}

.play button {
    font-size: 35px;
}

.quit {
    width: 75px;
    padding: 10px;

    position: absolute;
    right: 0;
    top: 0;
    margin: 25px;
}

/* --------- */
/* -- HUNT-- */
/* --------- */
.buttonHunt {
    width: 150px;
    padding: 15px;
}

.huntResult {
    visibility: hidden;
}

.buttonCloseHunt {
    width: 150px;
    padding: 5px;
}

/* ------------- */
/* -- PLAYER -- */
/* ------------- */
.player {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;

}

.avatar {
    background-color: #373A40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar>img {
    width: 85%;
    padding: 10px;
}

.player>ul {
    list-style-type: none;

    background-color: #373A40;
    color: var(--thirdColor);

    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    margin: 0;
}

.player>ul>li {
    list-style-type: none;
    padding: 0 10px;
    background-clip: padding-box;
    border-bottom: 2px solid var(--bg);
    width: 94.5%;
    font-size: 0.925rem;
    height: 100%;
    align-content: center;
}

.player>ul>li:nth-last-child(1) {
    border-bottom: 0;
}

.player>* {
    flex: 2;
    width: 100%;
    height: 100%;
    border: 2px solid var(--button-active);
}

/* ----------------------- */
/* -- PLAYER STATS BARS -- */
/* ----------------------- */
.player-bar {
    display: flex;
    align-items: center;
    padding: 0 !important;
    width: 100% !important;
}

.player-bar>div:nth-child(1) {
    width: 25%;
    padding: 8px 10px;
}

.player-bar>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 75%;
    height: 75%;
    background-color: var(--bg);
    border: 2px solid var(--bg);
    position: relative;
    margin-right: 5px;
}

.player-bar>div:nth-child(2)>p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

.expMax {
    background: var(--button);
    width: 0%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.hpMax {
    background: red;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.mpMax {
    background: rgba(0, 0, 255, 0.548);
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

/* ---------------- */
/* -- INVENTORTY -- */
/* ---------------- */
.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    width: 100%;
    height: 25%;
    border-top: 1px solid var(--bgContrast);

    display: flex;
}

.row:nth-child(4) {
    border-bottom: 1px solid var(--bgContrast);
}

.col {
    width: 25%;
    height: 100%;
    border-left: 1px solid var(--bgContrast);
    box-shadow: inset 0 0 10px var(--button-active);

    display: flex;
    justify-content: center;
    align-items: center;
}

.col:nth-child(4) {
    border-right: 1px solid var(--bgContrast);
}

.col:hover {
    box-shadow: inset 0 0 10px var(--thirdColor);
}

.col:active {
    box-shadow: inset 0 0 15px var(--thirdColor);
}

.inv-item {
    width: 100%;
    padding: 15px;
}

.item-description {
    visibility: hidden;
    position: absolute;
    border: 2px solid var(--button);
    background-color: var(--bg);
    padding: 0.5em;
    width: 210px;
    width: 10.938vw;
}

.inv-item:hover+span {
    visibility: visible;
}

/* ---------- */
/* -- GEAR -- */
/* ---------- */

.gear {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-gap: 1em;
}

.gear div {
    background-color: var(--bgContrast);
    border: 2px solid var(--button);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear div img {
    width: 100%;
    padding: 10px;
}

.gearGloves {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.gearHead {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

.gearAmulet {
    grid-column: 6;
    grid-row: 3;
}

.gear1stWeapon {
    grid-column: 2 / 4;
    grid-row: 4 / 7;
}

.gearChest {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

.gear2ndWeapon {
    grid-column: 6 / 8;
    grid-row: 4 / 7;
}

.gearBelt {
    grid-column: 4 / 6;
    grid-row: 6;
}

.gear1stRing {
    grid-column: 3;
    grid-row: 7;
}

.gearFeet {
    grid-column: 4 / 6;
    grid-row: 7 / 9;
}

.gear2ndRing {
    grid-column: 6;
    grid-row: 7;
}

/* ------- */
/* UTILITY */
/* ------- */
.utils {
    display: grid;
}

.utils>img {
    width: 100%;
    height: 100%;
    border: 2px solid var(--button-active);
}

.utils>img:nth-child(4) {
    border-bottom: 0;
}